root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true # remove os espaços em branco.
insert_final_newline = true # coloca sempre uma nova linha no fim.
